<!DOCTYPE html>
<html lang="{Imnicore::getLang()}">
	<head>
		<meta charset="UTF-8" />
		<title>Imnicore: {Lang::get('setup')}</title>
		<link rel="stylesheet" href="{Imnicore::getRelativePath()}/getCss/imnicore/install.css" />
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		{if $step == 0}
			<script>
				$(document).ready(function() {
					$('select').change(function(){
						window.location.href = "{Imnicore::getPath()}/imnicore/install?lang=" + $(this).val();
					});
				});
			</script>
		{/if}
	</head>
	<body>
		<div class="content">
			<div id="container">
				{if $step == 0}
					<h3 class="container title">{Lang::get('install.welcome.title', '2.0.1')}</h3>
					{if isset($errorMsg)}
						<div id="error">{$errorMsg}</div>
					{/if}
					<div class="container body">
						<p>{Lang::get('install.welcome.text1')}<br>
						{Lang::get('install.welcome.text2')}</p>
						<p>{Lang::get('install.welcome.text3')}</p>
						<p>{Lang::get('install.welcome.change.language')}:&nbsp;
						<select>
							{foreach Imnicore::getLangs() as $lang}
								<option {if $lang == Lang::getLang()}selected{/if}>{$lang}</option>
							{/foreach}
						</select></p>
						<div id="button-container">
							<a id="button" href="{Imnicore::getPath()}/imnicore/install/step0/check">{Lang::get('begin')}</a>
						</div>
					</div>
				{elseif $step == 1}
					<h3 class="container title">{Lang::get('install.database.title')}</h3>
					{if isset($errorMsg)}
						<div id="error">{$errorMsg}</div>
					{/if}
					<div class="container body">
						<p>{Lang::get('install.database.text')}</p>
						<form action="{Imnicore::getPath()}/imnicore/install/step1/check" method="POST">
							<ul id="inputs">
								<li><label for="host">{Lang::get('install.database.host')}: </label><input type="text" name="host" /></li>
								<li><label for="user">{Lang::get('install.database.user')}: </label><input type="text" name="user" /></li>
								<li><label for="password">{Lang::get('install.database.password')}: </label><input type="password" name="password" /></li>
								<li><label for="dbname">{Lang::get('install.database.name')}: </label><input type="text" name="dbname" /></li>
							</ul>
							<div id="button-container">
								<input id="button" type="submit" value="{Lang::get('done')}" />
							</div>
						</form>
					</div>
				{elseif $step == 2}
					<h3 class="container title">{Lang::get('install.default.title')}</h3>
					{if isset($errorMsg)}
						<div id="error">{$errorMsg}</div>
					{/if}
					<div class="container body">
						<p>{Lang::get('install.default.text')}</p>
						<form action="{Imnicore::getPath()}/imnicore/install/step2/check" method="POST">
							<ul id="inputs">
								<li><label for="URL">{Lang::get('install.default.url')}: </label><input type="text" name="URL" value="{Imnicore::getDefaultPath()}" /></li>
								<li><label for="name">{Lang::get('install.default.sitename')}: </label><input type="text" name="name" value="Imnicore" /></li>
								<li><label for="defaultLang">{Lang::get('install.default.lang')}: </label>
									<select name="defaultLang">
										{foreach $langs as $lang}
											<option {if $lang == Lang::getLang()}selected{/if}>{$lang}</option>
										{/foreach}
									</select></li>
								<li><label for="usersTable">{Lang::get('install.default.users.table')}: </label><input type="text" name="usersTable" value="ic_users" />
									<input type="checkbox" name="tableExists" /> <label for="tableExists">{Lang::get('install.default.table.exists')}</label></li>
							</ul>
							<div id="button-container">
								<input id="button" type="submit" value="{Lang::get('done')}" />
							</div>
						</form>
					</div>
				{elseif $step == 3}
					<h3 class="container title">{Lang::get('install.done.title')}</h3>
					{if isset($errorMsg)}
						<div id="error">{$errorMsg}</div>
					{/if}
					<div class="container body">
						<p>{Lang::get('install.done.text1')}<br>{Lang::get('install.done.text2')}</p>
						<p>{Lang::get('install.done.text3')}</p>
						<div id="button-container">
							<a id="button" href="{Imnicore::getPath()}/imnicore/install/step3/check">{Lang::get('install.done')}</a>
						</div>
					</div>
				{else}
					{Lang::get('install.error.unknown.step')}: {$step}
				{/if}
			</div>
		</div>
	</body>
</html>